<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Home page</title>
    <style>
        span{
            color: red;
        }
    </style>
</head>
<body>
<div style="display: flex;justify-content: center">
    <h1>welcome <span>{{ name }}</span>, <br> How old are you? <span>{{ age }}</span>, right !
    <br><br>
    <a href="index.html">chuyen huong cuoc goi</a>
        </h1>
    <p style="font-size: 20px">{{ data }}</p>
    <a href="contact.html" style="width: 100px">contact</a>
</div>
</body>
</html>